h1 {
  font-family: Arial, sans-serif;
  color: #FFBF00;
  text-shadow: text-shadow: -1px 0 yellow, 0 1px yellow, 1px 0 yellow, 0 -1px yellow;
}

body {
  text-align: center;
  background-color: #1C1C1C;
}

html,
body {
  font-family: Arial, sans-serif;
}

#pokemon-modal {
  display: none;
}

/*CSS for modal container*/
#pokemon-modal.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  /* to show it above other content */
  z-index: 999;

  /* to allow scrolling if the screen is not high enough*/
  overflow: auto;

  /* this is used to center the modal */
  display: grid;
  text-align: center;
}


/*CSS for modal container - add your own desired CSS styles here */

ul {
  list-style: none;
}

.page-container {

  margin-top: 60px;
}

button.button-style {
  
}
